.header{
   padding: 1.5rem 0;
   box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.4);
}

.forpad{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* .forpad h1{
font-size: 1.2rem;
} */

.darkcontrol{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

@media (max-width: 768px){
.forpad{
    width: 95%;
}

.forpad h1{
    font-size: 1.5rem;
}
}
