@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*{
  font-family: 'Nunito Sans', sans-serif;
  --dark-blue:hsl(209, 23%, 22%);
  --very-dark-blueDM:hsl(209, 23%, 22%);
  --very-dark-blueLM:hsl(200, 15%, 8%);
  --dark-gray:hsl(0, 0%, 52%);
  --very-light-gray:hsl(0, 0%, 98%);
  --white:hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
}
html, body {
height: 100%;
font-family: 'Open Sans', sans-serif;
}
body {
line-height: 1.5;
background-color: var( --dark-blue);
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}